/* Navbar brand styles */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Navbar link styles */
.navbar-nav .nav-link {
  color: #333;
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #2ec9c6;
}

/* Navbar background color */
.navbar-color {
  background-color: #e8e8e8d1;
}

/* Navbar shadow */
.navbar {
  box-shadow: 0px 4px 4px rgba(236, 14, 14, 0.1);
}
