/* Navbar brand styles */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Navbar toggler styles */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Navbar link styles */
.navbar-nav .nav-link {
  color: #333;
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #777;
}

/* Navbar background color */
.navbar-light {
  background-color: #fff;
}

/* Navbar shadow */
.navbar {
  box-shadow: 0px 4px 4px rgba(236, 14, 14, 0.1);
}
